@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'sans-serif';
    font-size: 15px;
    border-top: 10px solid #79a1b1;
}
a{
    text-decoration: none;
    color: #333;
}
.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img {
    display: inline-block;
    margin-bottom: 5px;
}
.w_inner {
    width: 1200px;
    margin: 0 auto;
    background:  #ffffff;
}
.header ul{
    display: flex;
}
.header ul li{
    width: 300px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.header ul li:first-child{
    border-left: 1px solid #ddd;

}
ul {
    list-style-type: none;
}

.header ul li a{
    display: block;
}

.header_img{
    text-align: center;
}

/* 幅と高さを固定 */
.theme img {
    width: 300px;  /* 幅を300ピクセルに設定 */
    height: 300px; /* 高さを200ピクセルに設定 */
  }

.container_theme .theme_block{
    display: flex;
    justify-content: space-between;
    text-align: center;
}  

.container_theme .theme{
    width: 380px;

}

.container_theme h2{
    text-align: center;
    font-weight: bold; 
    font-size: 24px;
    margin-bottom: 20px;
}
.container_theme .theme img{
    margin-bottom: 20px;
}

.container_theme .theme .ttl{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.container_theme .theme .explain{
    margin-bottom: 20px;
}
.container_theme .theme a{
    background: #79a1b1;
    color: #fff;
    padding: 15px 20px 12px;
}
.footer{
    margin-top: 40px;

}
.pp_link{
    text-align: right;
}

.copy{
    background-color: #79a1b1;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 7px 0 3px;
}
